<div id="nav" class="text-center text-uppercase fw-bolder fs-3 ">
    <span class="pages mx-5 p-1"><a href="/To-Do/Daily-Goals">Daily</a></span>
    <span class="pages mx-5 p-1 "><a href="/To-Do/Weekly-Goals">Weekly</a></span>
    <span class="pages mx-5 p-1 "><a href="/To-Do/Monthly-Goals">Monthly</a></span>
    <span class="pages mx-5 p-1"><a href="/To-Do/Yearly-Goals">Yearly</a></span>
</div>